.footer
    width: 100%
    padding: 10px 40px
    min-height: 80px
    .soc 
        gap: 16px
        img 
            width: 20px
            height: 20px

        p 
            margin-left: 16px

    &__text 
        font-size: 16px
        color: #1f2936

